build
web_container/apache-tomcat-8.0.14/webapps/qarma/WEB-INF/classes
web_container/apache-tomcat-8.0.14/webapps/qarma_javadocs
web_container/apache-tomcat-8.0.14/webapps/lint
.ant-targets-build.xml
web_container/apache-tomcat-8.0.14/temp/pidfile
tags
TEST*
