div.header-container {
  height: 65px;
}

div.header-container a.advanced.search {
  position: absolute;
  top: 40px;
  right: 10px;
  display: inline-block;
  outline: none;
  color:white;
  text-decoration: none;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

div.header-container .search {
  position: absolute;
  top: 5px;
  right: 10px;
}

div.header-container form.search input {
  height:20px;
}

div.header-container form.search button {
  height: 30px;
}

div.header-container div.user-displayname {
  position: relative;
  clear: left;
  top: 13px;
  left: 20px;
}

div.header-container div.spacer {
  height: 40px;
}

div.header-container section.header {

  background-color: #5f2d1d;
  color: white;
  border: 1px solid grey;
  height: 65px;
  position: fixed;
  top:0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 1;
}

div.header-container div.trademark {
  text-shadow:6px 7px 4px rgba(34,87,73,0.5);
  font-weight:bold;
  color:white;
  letter-spacing:10pt;
  word-spacing:1pt;
  font-size:36px;
  text-align:left;
  line-height:1;
  position: absolute;
}

div.header-container nav a {
  position: relative;
  display: inline-block;
  outline: none;
  color:white;
  text-decoration: none;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
}


div.header-container nav a:hover,
div.header-container nav a:focus {
  outline: none;
}

/* Effect 1: Brackets */
div.header-container .cl-effect-1 a::before,
div.header-container .cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

div.header-container .cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

div.header-container .cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

div.header-container .cl-effect-1 a:hover::before,
div.header-container .cl-effect-1 a:hover::after,
div.header-container .cl-effect-1 a:focus::before,
div.header-container .cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

div.dashboard-container {
  padding: 0;
  font-family: garamond;
  background-color: #5f2d1d;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50px;
}


div.dashboard-container h2.my-requestoffers-header {
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 400px;
  color:white;
}

div.dashboard-container div.requestoffers {
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 400px;
}

div.dashboard-container h2.others-requestoffers-header {
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 400px;
  color:white;
}

div.dashboard-container ul {
  list-style: none;
  margin: initial;
  padding: 0px;
}

div.dashboard-container div.requestoffer {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  border: 2px solid white;
  background-color: grey;
  margin: 10px;
  position:relative;
}

div.dashboard-container div.requestoffer.mine {
  height: 20px;
}

div.dashboard-container li span.label {
  font-weight: 600;
}

div.dashboard-container div.desc.container {
  background: black;
  color: white;
  border: 1px solid blue;
  padding: 15px;
}

div.dashboard-container div.desc.container .label {
  font-weight: 800;
  margin-bottom: 5px;
}

div.dashboard-container li.points .label {
  display: none;
}

div.dashboard-container li.points {
  position: absolute;
	background-color: black;
  width: 30px;
  font-size: 20px;
  text-align: center;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  color: whitesmoke;
  top:5px;
  right:5px;
}

div.dashboard-container a.button {
	background-color: black;
  border-radius:3px;
  display:inline-block;
  cursor:pointer;
  color:lightgrey;
  font-size:10px;
  font-weight:bold;
  padding:5px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
  margin: 0 auto;
  width: 37px;
  position: absolute;
  bottom:5px;
  right:5px;
}


div.dashboard-container div.others-requestoffers {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

