* {
	padding: 0;
	border: 0;
	font-family: garamond;
}

body {
	/* fallback */
	background-color: #1a82f7;
	background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #2F2727, #1a82f7);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #2F2727, #1a82f7);
	/* IE 10 */
	background: -ms-linear-gradient(top, #2F2727, #1a82f7);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #2F2727, #1a82f7);
	height: 100%;
}

.search {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 300px;
}

form.search input {
	height:30px;
}

form.search button {
	height: 30px;
}

div.user-displayname {
	position: relative;
	top: 10px;
	left: 20px;
}

section.header {
	border: 1px solid grey;
	height: 60px;
}

h2.my-requests-header {
	margin-left: auto;
	margin-right: auto;
  width: 400px;
	color:#FF6600;
}
div.my-requests {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
  width: 400px;
}

h2.others-requests-header {
	margin-left: auto;
	margin-right: auto;
  width: 400px;
	color:#FF6600;
}

div.others-requests {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
  width: 400px;
}

div.trademark {
	text-shadow:6px 7px 4px rgba(34,87,73,0.5);
	font-weight:bold;
	color:#FF6600;
	letter-spacing:10pt;
	word-spacing:1pt;
	font-size:36px;
	text-align:left;
	line-height:1;
	position: absolute;
}

nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color:#FF6600;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}


nav a:hover,
nav a:focus {
	outline: none;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
