@media all and (min-width: 660px) {

  .button {
      display: inline-block;
      outline: none;
      margin: 10px;
      cursor: pointer;
      border: solid 1px #da7c0c;
      background: #478dad;
      color: white;
      height: 17px;
      text-decoration: none;
      font: 14px/100% Arial, Helvetica, sans-serif;
      box-sizing: content-box;
      -moz-box-sizing: content-box;
      -ms-box-sizing: content-box;
      padding: 0.5em;
      text-shadow: 0 1px 1px rgba(0,0,0,.3);
      -webkit-border-radius: .5em; 
      -moz-border-radius: .5em;
      border-radius: .3em;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
      box-shadow: 0 1px 2px rgba(0,0,0,.2);
  }

  .button:hover {
      background: #f47c20;
      background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
      background: -moz-linear-gradient(top,  #f88e11,  #f06015);
      filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
  }

  .button:active {
      position: relative;
      top: 1px;
  }

}

/* handling situation where things get too narrow */
@media all and (max-width: 659px) {

  .button {
    width: 85%;
    display: block;
    heigth: auto;
    margin: 10px;
    padding: 15px;
    border: solid 2px #da7c0c;
    background: #478dad;
    color: white;
    text-decoration: none;
    text-align: center;
    font: 16px/100% Arial, Helvetica, sans-serif;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
  }

