#my_background {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}


/* stuff related to the entire dashboard */
#see-and-create-requestoffer {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

/* stuff related to requestoffer display */

#ro-container {
  min-height: 200px;
  margin: 4px;
  padding: 5px;
}


@media all and (min-width: 660px) {


  .table {
    border-spacing: 8px 8px;
  }

  div.row {
    display: table-row;
  }

  div.row label{
    display: table-cell;
  }

  div.row span {
    display: table-cell;
  }

}


footer {
  position: fixed;
  bottom:0px;
  width:100%;
}

/* handling situation where things get too narrow */
@media all and (max-width: 659px) {

  .table {
    display: block;
  }

  .table label{
    display: block;
  }

  .table span {
    display: block;
  }

  select {
    width: 100%;
  }

  textarea {
    width: 98%;
  }


  #see-and-create-requestoffer{
    margin-left: auto;
    margin-right: auto;
  }


  #inner-search-section{
    margin: 4px;
    padding: 5px;
  }
  
  #search-section{
    margin-left: auto;
    margin-right: auto;
    margin: 4px;
    padding: 5px;
  }

}
