header {
  border-bottom: 1px solid blue;
  background-color: grey;
}

header a {
  color: white;
}

.header-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-table {
  display: block;
  padding-bottom: 30px;
}

header form {
  color: white;
  display: inline-block;
}

.header-button a {
  position: relative;
}

#favor-statuses {
  display: none;
  position: absolute;
  top: 38px;
  width: 200px;
  height: 330px;
  border: solid 1px red;
  background-color: grey;
  font-size: 18px;
  z-index: 2;
}


#favor-statuses>div.digest-line{
  line-height: 45px;
  border: 1px solid black;
}

#favor-statuses>div.digest-line img{
  width: 20px;
  height: 20px;
}

#my-favors-div {
  position: relative;
}

#status-digest {
  position: relative;
}


.hdr-detail-section {
  display: none;
  position: absolute;
  top: 0px;
  left: 200px;
  width: 200px;
  height: 200px;
  border: solid 1px red;
  background-color: grey;
  font-size: 12px;
  z-index: 2;
  overflow: auto;
}

.favor-status {
  padding-top: 5px;
  font-size: 12px;
  height: 24px;
  text-align: center;
  width: 24px;
  z-index:1;
  top: 15px;
  position: absolute;
}

.favor-status.offering {
  left: 0px;
  background: url("../img/offering_icon.png") no-repeat scroll 50% 40% / contain;
  z-index: 1;
}

.favor-status.offers {
  left: 25px;
  background: url("../img/offers_icon.png") no-repeat scroll 50% 40% / contain;
}

.favor-status.handling {
  left: 50px;
  background: url("../img/handling_icon.png") no-repeat scroll 50% 40% / contain;
}

.favor-status.closed {
  left: 75px;
  background: url("../img/closed_icon.png") no-repeat scroll 50% 40% / contain;
}

.favor-status.taken {
  left: 100px;
  background: url("../img/taken_icon.png") no-repeat scroll 50% 40% / contain;
}

.favor-status.draft {
  left: 125px;
  background: url("../img/draft_icon.png") no-repeat scroll 50% 40% / contain;
}

.favor-status.open {
  left: 150px;
  background: url("../img/open_icon.png") no-repeat scroll 50% 40% / contain;
}

@media all and (min-width: 660px) {

  #my-favors-button:hover+#favor-statuses {
    display: block;
  }

  #favor-statuses:hover {
    display: block;
  }

  #hdr_offering_dtls:hover + .hdr-detail-section, #hdr_offering_dtls + .hdr-detail-section:hover{
    display: block;
  }

  #hdr_offers_dtls:hover + .hdr-detail-section, #hdr_offers_dtls + .hdr-detail-section:hover{
    display: block;
    top: 47px;
  }

  #hdr_handling_dtls:hover + .hdr-detail-section, #hdr_handling_dtls + .hdr-detail-section:hover{
    display: block;
    top: 94px;
  }
  #hdr_closed_dtls:hover + .hdr-detail-section, #hdr_closed_dtls + .hdr-detail-section:hover{
    display: block;
    top: 141px;
  }
  #hdr_taken_dtls:hover + .hdr-detail-section, #hdr_taken_dtls + .hdr-detail-section:hover{
    display: block;
    top: 188px;
  }
  #hdr_draft_dtls:hover + .hdr-detail-section, #hdr_draft_dtls + .hdr-detail-section:hover {
    display: block;
    top: 235px;
  }
  #hdr_open_dtls:hover + .hdr-detail-section, #hdr_open_dtls + .hdr-detail-section:hover{
    display: block;
    top: 282px;
  }

  #status-digest {
    left: -20px;
    top: -20px;
  }

  header a {
    margin-top:5px;
    margin-bottom:5px;
    padding-left:4px;
    padding-right:4px;
    margin-left: 3px;
    margin-right: 3px;
  }

}

@media all and (max-width: 659px) {

  #status-digest {
    left: -40px;
    top: -20px;
  }

  .header-row {
    padding-bottom: 30px;
  }

  header form {
    display: none;
  }

  .header-button span {
    font-size: smaller;
    position: absolute;
    top: 44px;
  }


  header a {
    margin-top:5px;
    margin-bottom:5px;
    padding-left:4px;
    padding-right:4px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
  }


}
