header {
  border-bottom: 1px solid blue;
  background-color: grey;
}

header a {
  color: white;
}

.header-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-table {
  display: block;
  padding-bottom: 30px;
}

header form {
  color: white;
  display: inline-block;
}

.header-button a {
  position: relative;
}

#favor-statuses {
  display: none;
  position: absolute;
  top: 20px;
  left: 0px;
  width: 200px;
  height: 200px;
  border: solid 1px red;
  background-color: grey;
  font-size: 18px;
  z-index: 2;
}

#favor-status-details {
  display: none;
  position: absolute;
  top: 20px;
  left: 200px;
  width: 200px;
  height: 200px;
  border: solid 1px red;
  background-color: grey;
  font-size: 18px;
  z-index: 2;
}

.favor-status {
  padding-top: 5px;
  font-size: 12px;
  height: 22px;
  text-align: center;
  width: 22px;
  z-index:2;
  top: 15px;
  position: absolute;
}

.favor-status.offering {
  left: 0px;
  background: url("../img/group_invite_alert.png") no-repeat scroll 0 0 / contain;
}

.favor-status.offers {
  left: 4px;
  background: url("../img/group_invite_alert.png") no-repeat scroll 0 0 / contain;
}

.favor-status.handling {
  left: 8px;
  background: url("../img/group_invite_alert.png") no-repeat scroll 0 0 / contain;
}

.favor-status.closed {
  left: 12px;
  background: url("../img/group_invite_alert.png") no-repeat scroll 0 0 / contain;
}

.favor-status.taken {
  left: 16px;
  background: url("../img/group_invite_alert.png") no-repeat scroll 0 0 / contain;
}

.favor-status.draft {
  left: 20px;
  background: url("../img/group_invite_alert.png") no-repeat scroll 0 0 / contain;
}

.favor-status.open {
  left: 24px;
  background: url("../img/group_invite_alert.png") no-repeat scroll 0 0 / contain;
}

@media all and (min-width: 660px) {


  header a {
    margin-top:5px;
    margin-bottom:5px;
    padding-left:4px;
    padding-right:4px;
    margin-left: 3px;
    margin-right: 3px;
  }

}

@media all and (max-width: 659px) {

  .header-row {
    padding-bottom: 30px;
  }

  header form {
    display: none;
  }

  .header-button span {
    font-size: smaller;
    position: absolute;
    top: 44px;
  }


  header a {
    margin-top:5px;
    margin-bottom:5px;
    padding-left:4px;
    padding-right:4px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
  }


}
