header {
  background-color: grey;
  background: url("../img/header_tile.jpg") repeat;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


.header-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-table {
  display: block;
  padding-bottom: 30px;
}

#favor-statuses {
  display: none;
  position: absolute;
  top: 40px;
  left: 8px;
  width: 128px;
  height: 330px;
  border: solid 1px red;
  background-color: grey;
  font-size: 18px;
  z-index: 2;
}


#favor-statuses>div.digest-line{
  line-height: 45px;
  border: 1px solid black;
}

#favor-statuses>div.digest-line img{
  width: 20px;
  height: 20px;
}

#favor-statuses span.label {
  display: inline-block;
  width: 100px;
}

#favor-statuses span.value {
  display: inline-block;
  width: 20px;
  text-align: center;
}

#favor-statuses #hdr_offering_dtls span.value {
  background: url("../img/offering_icon.svg") no-repeat scroll 50% 50% / contain;
}

#favor-statuses #hdr_offers_dtls span.value {
  background: url("../img/offers_icon.svg") no-repeat scroll 50% 50% / contain;
}

#favor-statuses #hdr_handling_dtls span.value {
  background: url("../img/handling_icon.svg") no-repeat scroll 50% 50% / contain;
}

#favor-statuses #hdr_closed_dtls span.value {
  background: url("../img/closed_icon.svg") no-repeat scroll 50% 50% / contain;
}

#favor-statuses #hdr_taken_dtls span.value {
  background: url("../img/taken_icon.svg") no-repeat scroll 50% 50% / contain;
}

#favor-statuses #hdr_draft_dtls span.value {
  background: url("../img/draft_icon.svg") no-repeat scroll 50% 50% / contain;
}

#favor-statuses #hdr_open_dtls span.value {
  background: url("../img/open_icon.svg") no-repeat scroll 50% 50% / contain;
}

#status-digest {
  top: 30px;
  position: absolute;
}


.hdr-detail-section {
  display: none;
  position: absolute;
  top: 0px;
  left: 128px;
  width: 200px;
  height: 200px;
  border: solid 1px red;
  background-color: grey;
  font-size: 12px;
  z-index: 2;
  overflow: auto;
}

.favor-status {
  padding-top: 5px;
  font-size: 12px;
  height: 24px;
  text-align: center;
  line-height: 2em;
  color: black;
  width: 24px;
  z-index:1;
  top: 15px;
  position: absolute;
}

.favor-status.offering {
  left: 0px;
  background: url("../img/offering_icon.svg") no-repeat scroll 50% 50% / contain;
  color: blue;
  z-index: 1;
}

.favor-status.offers {
  left: 25px;
  background: url("../img/offers_icon.svg") no-repeat scroll 50% 40% / contain;
}

.favor-status.handling {
  left: 50px;
  background: url("../img/handling_icon.svg") no-repeat scroll 50% 40% / contain;
}

.favor-status.closed {
  left: 75px;
  background: url("../img/closed_icon.svg") no-repeat scroll 50% 40% / contain;
}

.favor-status.taken {
  left: 100px;
  background: url("../img/taken_icon.svg") no-repeat scroll 50% 40% / contain;
}

.favor-status.draft {
  left: 125px;
  background: url("../img/draft_icon.svg") no-repeat scroll 50% 40% / contain;
}

.favor-status.open {
  left: 150px;
  background: url("../img/open_icon.svg") no-repeat scroll 50% 40% / contain;
}

header #my-favors-container {
  position: relative;
  display:block;
  height: 30px;
}

@media all and (min-width: 501px) {

  header a span.text {
    display: block;
  }

  header a#trademark span.text {
    display: none;
  }

  header a#trademark span.image {
    background: 
      rgba(0, 0, 0, 0) 
      url("../img/logo_icon.svg") 
      no-repeat scroll 
      center / contain ;
    height: 50px;
    width: 140px;
    display: block;
  }

  header a#search span.text {
    background: 
      rgba(0, 0, 0, 0) 
      url("../img/search_icon.svg") 
      no-repeat scroll 
      55px center / contain ;
    width: 80px;
  }

  header a#request_favor span.text{
    background: 
      rgba(0, 0, 0, 0) 
      url("../img/callbell_icon.svg") 
      no-repeat scroll 
      105px center / contain ;
    width: 125px;
  }

  header a#my-favors-anchor span.text {
    background: 
      rgba(0, 0, 0, 0) 
      url("../img/requestoffer_icon.svg") 
      no-repeat scroll 
      75px center / contain ;
    width: 110px;
  }

  header a#my-profile span.text {
    background: 
      rgba(0, 0, 0, 0) 
      url("../img/one_person_icon.svg") 
      no-repeat scroll 
      75px center / contain ;
    width: 110px;
  }

  header a#logout span.text {
    background: 
      rgba(0, 0, 0, 0) 
      url("../img/logout_icon.svg") 
      no-repeat scroll 
      55px center / contain ;
    width: 75px;
  }

  #my-favors-container:hover #favor-statuses {
    display: block;
  }

  #favor-statuses:hover {
    display: block;
  }

  #hdr_offering_dtls:hover + .hdr-detail-section, #hdr_offering_dtls + .hdr-detail-section:hover{
    display: block;
  }

  #hdr_offers_dtls:hover + .hdr-detail-section, #hdr_offers_dtls + .hdr-detail-section:hover{
    display: block;
    top: 47px;
  }

  #hdr_handling_dtls:hover + .hdr-detail-section, #hdr_handling_dtls + .hdr-detail-section:hover{
    display: block;
    top: 94px;
  }
  #hdr_closed_dtls:hover + .hdr-detail-section, #hdr_closed_dtls + .hdr-detail-section:hover{
    display: block;
    top: 141px;
  }
  #hdr_taken_dtls:hover + .hdr-detail-section, #hdr_taken_dtls + .hdr-detail-section:hover{
    display: block;
    top: 188px;
  }
  #hdr_draft_dtls:hover + .hdr-detail-section, #hdr_draft_dtls + .hdr-detail-section:hover {
    display: block;
    top: 235px;
  }
  #hdr_open_dtls:hover + .hdr-detail-section, #hdr_open_dtls + .hdr-detail-section:hover{
    display: block;
    top: 282px;
  }

  #status-digest {
    left: -15px;
    top: 30px;
  }

}

@media all and (max-width: 500px) {

  header a span.image {
    width: 30px;
    height: 30px;
    margin: 0px;
    display: block;
  }

  header a#trademark span.image {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0) url("../img/logo_icon_small.svg") no-repeat scroll center / contain ;
  }
  header a#trademark span.text {
    display: none;
  }


  header a#search span.image {
    background: rgba(0, 0, 0, 0) url("../img/search_icon.svg") no-repeat scroll center / contain ;
  }

  header a#request_favor span.image {
    background: rgba(0, 0, 0, 0) url("../img/callbell_icon.svg") no-repeat scroll center / contain ;
  }

  header a#my-favors-anchor span.image {
    background: rgba(0, 0, 0, 0) url("../img/requestoffer_icon.svg") no-repeat scroll center / contain ;
  }

  header a#my_profile span.image {
    background: rgba(0, 0, 0, 0) url("../img/one_person_icon.svg") no-repeat scroll center / contain ;
  }

  header a#logout span.image {
    background: rgba(0, 0, 0, 0) url("../img/logout_icon.svg") no-repeat scroll center / contain ;
  }

  #status-digest {
    display: none;
  }

  .header-row {
    padding-bottom: 30px;
  }

  .header-button {
    height: 25px;
    display: block;
    position: relative;
  }

  .header-button span.text {
    font-size: smaller;
    position: absolute;
    top: 44px;
    left: 0px;
  }


}
