* {
  margin: 0;
}

p {
  margin: 10px;
}

#my_background {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0;
}

.group-name {
  font-size: small;
  background: rgb(76,76,76); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  cursor:pointer;
  color:lightgrey;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}

body {
  background-color: #5f2d1d;
  line-height: 1.28em;
}

.error, .row span.error {
  color: white;
  background-color: red;
}

div.container {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  height 1000px;
  padding: 40px;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}


footer {
  position: fixed;
  bottom:0px;
  width:100%;
}


@media all and (min-width: 660px) {

  div.container input[type="text"] {
    display: table-cell;
    height: 25px;
  }

  .row textarea {
    height: 75px;
    width: 350px;
  }

  .table {
    padding: 10px;
    display: table;
    border-spacing: 8px;
  }

  .row {
    display: table-row;
  }

  .row label{
    display: table-cell;
  }

  .row select {
    display: table-cell;
    max-width: 200px;
  }

  .table span {
    display: table-cell;
  }

}

/* handling situation where things get too narrow */
@media all and (max-width: 659px) {

  .table {
    display: block;
    width: 100%;
  }

  .row {
    display: block;
    width: 100%;
  }

  .row label{
    display: block;
    width: 100%;
  }

  .row select {
    display: block;
    height: 25px;
    width: 100%;
  }

  .row textarea {
    display: block;
    height: 25px;
    width: 100%;
  }

  .row span {
    display: block;
    background: grey;
    color: white;
    border: 1px solid white;
    width: 100%;
  }

  .row input[type="password"], .row input[type="text"] {
    width: 97%;
    height: 40px;
  }

}
