* {
  margin: 0;
}

p {
  margin: 10px;
}

#my_background {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0;
}

body {
  background-color: #5f2d1d;
  line-height: 1.28em;
}

.error, .row span.error {
  color: white;
  background-color: red;
}

div.container {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  height 1000px;
  padding: 40px;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}


footer {
  position: fixed;
  bottom:0px;
  width:100%;
}


@media all and (min-width: 660px) {

  div.container input[type="text"] {
    display: table-cell;
    height: 25px;
  }

  .table {
    padding: 10px;
    display: table;
    border-spacing: 8px;
  }

  .row {
    display: table-row;
  }

  .row label{
    display: table-cell;
  }

  .row select {
    display: table-cell;
    max-width: 200px;
  }

  .table span {
    display: table-cell;
  }

}

/* handling situation where things get too narrow */
@media all and (max-width: 659px) {

  .table {
    display: block;
    width: 100%;
  }

  .row {
    display: block;
    width: 100%;
  }

  .row label{
    display: block;
    width: 100%;
  }

  .row select {
    display: block;
    height: 25px;
    width: 100%;
  }

  .row textarea {
    display: block;
    height: 25px;
    width: 100%;
  }

  .row span {
    display: block;
    background: grey;
    color: white;
    border: 1px solid white;
    margin-left: 15px;
    width: 100%;
  }

  .row input[type="password"], .row input[type="text"] {
    width: 97%;
    height: 40px;
  }

}
