
#count-of-invites {
  background: url("../img/group_invite_alert.png") 
    no-repeat scroll 0 0 / contain ;
  padding-top: 5px;
  font-size: 20px;
  height: 25px;
  left: 80px;
  position: absolute;
  text-align: center;
  top: -15px;
  width: 25px;
  z-index:2;
}

#edit_desc_anchor span{
  display: none;
}

#edit_desc_anchor {
  background: url("../img/edit_icon.svg") no-repeat scroll 50% 50% / contain;
  width: 18px;
  height: 18px;
  display: inline-block;
}

a#your_groups>span.text {
  background: rgba(0, 0, 0, 0) url("../img/group_icon.svg") no-repeat scroll 80px center / contain ;
  width: 90px;
  display: block;
}

a#generate_icode>span.text {
  background: rgba(0, 0, 0, 0) url("../img/new_user_icon.svg") no-repeat scroll 160px center / contain ;
  width: 170px;
  display: block;
}

a#change_password>span.text {
  background: rgba(0, 0, 0, 0) url("../img/password_icon.svg") no-repeat scroll 120px center / contain ;
  width: 138px;
  display: block;
}

