div.container span.text_and_image_container {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  height: 15px;
}

#count-of-invites {
  background: url("../img/group_invite_alert.png") 
    no-repeat scroll 0 0 / contain ;
  padding-top: 5px;
  font-size: 20px;
  height: 25px;
  left: -10px;
  position: absolute;
  text-align: center;
  top: -15px;
  width: 25px;
  z-index:2;
}

#edit_desc_anchor span{
  display: none;
}

#edit_desc_anchor {
  background:
    rgba(0, 0, 0, 0) 
    url("../img/combined.png") 
    repeat scroll 
    -20px 0;
  width: 18px;
  height: 18px;
  display: inline-block;
}

a#your_groups span.image {
  background:
    rgba(0, 0, 0, 0) 
    url("../img/combined.png") 
    repeat scroll 
    -55px -20px;
  width: 20px;
  display: inline-block;
}

a#generate_icode span.image {
  background:
    rgba(0, 0, 0, 0) 
    url("../img/combined.png") 
    repeat scroll 
    -95px -19px;
  width: 20px;
  display: inline-block;
}

a#change_password span.image {
  background:
    rgba(0, 0, 0, 0) 
    url("../img/combined.png") 
    repeat scroll 
    -38px 0px;
  width: 20px;
  display: inline-block;
}

a#set_email span.image {
  background: 
    rgba(0, 0, 0, 0) 
    url("../img/combined.png") 
    repeat scroll 
     -3px -76px;
  width: 20px;
  display: inline-block;
}

