/* stuff related to the entire dashboard */
#overall-container {
   margin-left: auto;
   margin-right: auto;
   min-height: 1000px;
   max-width: 1200px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
}

#see-and-create-requestoffer {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-inline-flex;
   display:         inline-flex;
   -webkit-flex-flow: column;
           flex-flow: column;
   -webkit-flex: 3 1 34%;
           flex: 3 1 34%;
   -webkit-order: 2;
           order: 2;
}

/* stuff related to requestoffer display */

#ro-container {
   margin: 4px;
   min-width: 350px;
   padding: 5px;
   border: 1px solid #cccc33;
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 1;
           order: 1;
}

#ro-container ul {
  list-style: none;
  padding: 0px;
}

#ro-container a.rank_6 {
  border: 5px solid #accb2f;
}

#ro-container a.rank_5 {
  border: 5px solid #3c9aae;
}

#ro-container a.rank_4 {
  border: 5px solid #bf9a76;
}

#ro-container a.rank_3 {
  border: 5px solid #5fd9c9;
}

#ro-container a.rank_2 {
  border: 5px solid #bef9f1;
}

#ro-container a.rank_1 {
  border: 5px solid #417c74;
}

#ro-container a.rank_0 {
  border: 5px solid #192f2c;
}

#ro-container a.requestoffer {
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  overflow: hidden;
  margin-bottom: 4px;
  display: block;
}

#ro-container .datetime{
  font-size: 7px;
}

#ro-container li.requestoffering-user-id{
  display: none;
}

#ro-container li.categories {
  display: none;
}

div.desc.container.taken {
  text-decoration: line-through;
  color: grey;
}

div.desc.container {
  background: black;
  color: white;
  padding: 5px;
  margin: auto;
  padding: 2px;
  width: 87%;
  display: inline-block;
}

a.page-link {
  background-color: green;
	display: inline-block;
	font-size: 20px;
	padding: 14px;
	margin: 4px;
	border: black solid 2px;
}


div.category {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  width: 30px;
  height: 30px;
  display: inline-block;
  right:5px;
  position: absolute;
}

.c-143 {
  background-image: url('../img/baby-silhouette-md.png');
}
.c-144 {
  background-image: url('../img/dog_walking.png');
}
.c-145 {
  background-image: url('../img/taxi.png');
}
.c-199 {
  background-image: url('../img/miscellaneous.png');
}
.c-200 {
  background-image: url('../img/homework.png');
}



/* stuff related to My_Profile */

#profile-container {
   min-width: 350px;
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   background: #ccccff;
   -webkit-flex: 1 6 33%;
           flex: 1 6 33%;
   -webkit-order: 1;
           order: 1;
}

/* stuff related to advanced search */

#search_section {
  margin: 4px;
  min-width: 350px;
  padding: 5px;
  border: 1px solid #8888bb;
  background: #ccccff;
  -webkit-flex: 1 6 33%;
         flex: 1 6 33%;
  -webkit-order: 3;
         order: 3;
}


span.error {
  color: white;
  background-color: red;
}

#search_section form {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-spacing: 5px 5px;
}

#search_section div.form-row {
  display: table-row;
}

#search_section div.form-row label{
  vertical-align: top;
  display: table-cell;
  width: 30%;
}

#search_section input{
  display: table-cell;
  background: 12px 11px no-repeat, linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
  border-radius: 3px;
  border: 1px solid grey;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  transition: all 0.2s linear;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #222222;
  position: relative;
  height: 36px;
  width: 80%;
  padding-left: 30px;
}

#search_section input:-webkit-input-placeholder {
  color: #999999;
}
  
#search_section input:-moz-placeholder {
    color: #999999;
}

#search_section input:focus{
  box-shadow: 0 1px 0 #2392F3 inset, 0 -1px 0 #2392F3 inset, 1px 0 0 #2392F3 inset, -1px 0 0 #2392F3 inset, 0 0 4px rgba(35,146,243,0.5);
  outline: none;
}


/* stuff related to create requestoffer */

#create-requestoffer-container {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   background: #ccccff;
   -webkit-flex: 1 6 40%;
           flex: 1 6 40%;
   -webkit-order: 2;
           order: 2;
}

span.error {
  color: white;
  background-color: red;
}

#create-requestoffer-container select {
  width: 200px;
  overflow: hidden;
}

#create-requestoffer-container #basic-section {
  display: table;
  table-layout: fixed;
  margin-top: 10px;
  margin-bottom: 10px;
  border-spacing: 5px 5px;
}

#create-requestoffer-container #location-section {
  display: table;
  table-layout: fixed;
  margin-top: 10px;
  margin-bottom: 10px;
  border-spacing: 5px 5px;
}

#create-requestoffer-container div {
  vertical-align: top;
  display: table-row;
}

#create-requestoffer-container textarea {
  vertical-align: top;
  display: table-cell;
  width: 200px;
}

#create-requestoffer-container label {
  vertical-align: top;
  display: table-cell;
  width: 250px;
}

#create-requestoffer-container input[type="text"] {
  display: table-cell;
  width: 200;
  background: 12px 11px no-repeat, linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
  border-radius: 3px;
  border: 1px solid grey;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  transition: all 0.2s linear;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #222222;
  position: relative;
  height: 36px;
  padding-left: 30px;
}

#create-requestoffer-container input[type="text"]:-webkit-input-placeholder {
  color: #999999;
}
  
#create-requestoffer-container input[type="text"]:-moz-placeholder {
  color: #999999;
}

#create-requestoffer-container input[type="text"]:focus{
  box-shadow: 0 1px 0 #2392F3 inset, 0 -1px 0 #2392F3 inset, 1px 0 0 #2392F3 inset, -1px 0 0 #2392F3 inset, 0 0 4px rgba(35,146,243,0.5);
  outline: none;
}


/* handling situation where things get too narrow */
@media all and (max-width: 1050px) {

  #overall-container {
    -webkit-flex-flow: column;
    flex-flow: column;
  }

  #see-and-create-requestoffer{
    -webkit-order: 0;
    order: 0;
  }
  #profile-container {
    -webkit-order: 1;
    order: 1;
  }
  #search-section{
    -webkit-order: 2;
    order: 2;
  }
  #create-requestoffer-section{
    -webkit-order: 3;
    order: 3;
  }

}
