
/* stuff related to requestoffer display */
div#overall-container {
#   background: #2c3e50;
#  -webkit-columns: 300px 3;
#  -moz-columns: 300px 3;
#  columns: 300px 3;
#
#  -webkit-column-width: 300px;
#  -moz-column-width: 300px;
#  column-width: 300px;
#
#  -webkit-column-gap: 2;
#  -moz-column-gap: 2;
#  column-gap: 2;
#
#  -webkit-column-rule: 1px solid #1a242f;
#  -moz-column-rule: 1px solid #1a242f;
#  column-rule: 1px solid #1a242f;
}


div#ro-container {
  display: inline-block;
  width: 34%;
  min-width: 300px;
}

div#ro-container ul {
  list-style: none;
  padding: 0px;
}

div#ro-container a.rank_6 {
  border: 5px solid #accb2f;
}

div#ro-container a.rank_5 {
  border: 5px solid #3c9aae;
}

div#ro-container a.rank_4 {
  border: 5px solid #bf9a76;
}

div#ro-container a.rank_3 {
  border: 5px solid #5fd9c9;
}

div#ro-container a.rank_2 {
  border: 5px solid #bef9f1;
}

div#ro-container a.rank_1 {
  border: 5px solid #417c74;
}

div#ro-container a.rank_0 {
  border: 5px solid #192f2c;
}

div#ro-container a.requestoffer {
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  overflow: hidden;
  margin-bottom: 4px;
  display: block;
}

div#ro-container .datetime{
  font-size: 7px;
}

div#ro-container li.requestoffering-user-id{
  display: none;
}

div#ro-container li.categories {
  display: none;
}

div.desc.container.taken {
  text-decoration: line-through;
  color: grey;
}

div.desc.container {
  background: black;
  color: white;
  padding: 5px;
  margin: auto;
  padding: 2px;
  width: 87%;
  display: inline-block;
}

a.page-link {
  background-color: green;
	display: inline-block;
	font-size: 20px;
	padding: 14px;
	margin: 4px;
	border: black solid 2px;
}


div.category {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  width: 30px;
  height: 30px;
  display: inline-block;
  right:5px;
  position: absolute;
}

.c-143 {
  background-image: url('../img/baby-silhouette-md.png');
}
.c-144 {
  background-image: url('../img/dog_walking.png');
}
.c-145 {
  background-image: url('../img/taxi.png');
}
.c-199 {
  background-image: url('../img/miscellaneous.png');
}
.c-200 {
  background-image: url('../img/homework.png');
}



/* stuff related to My_Profile */

div#profile-container {
  float: right;
  width: 33%;
  min-width: 300px;
  background-color: white;
}

/* stuff related to advanced search */

span.error {
  color: white;
  background-color: red;
}

#search_section {
  background-color: white;
  float: left;
  width: 33%;
  min-width: 300px;
}

#search_section form {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-spacing: 5px 5px;
}

#search_section div.form-row {
  display: table-row;
}

#search_section div.form-row label{
  display: table-cell;
  width: 30%;
}

#search_section input[type="text"] {
  display: table-cell;
  background: 12px 11px no-repeat, linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
  border-radius: 3px;
  border: 1px solid grey;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  transition: all 0.2s linear;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #222222;
  position: relative;
  height: 36px;
  width: 80%;
  padding-left: 30px;
}
  #search_section input[type="text"]:-webkit-input-placeholder {
    color: #999999;
  }
  
#search_section input[type="text"]:-moz-placeholder {
    color: #999999;
  }

 #search_section input[type="text"]:focus{
    box-shadow: 0 1px 0 #2392F3 inset, 0 -1px 0 #2392F3 inset, 1px 0 0 #2392F3 inset, -1px 0 0 #2392F3 inset, 0 0 4px rgba(35,146,243,0.5);
    outline: none;
  }

div.help-text {
  display: table-cell;
  font-style: italic;
}

/* stuff related to create requestoffer */

span.error {
  color: white;
  background-color: red;
}

div#create-requestoffer-container select {
  width: 70%;
  overflow: hidden;
}

div#create-requestoffer-container {
  display: inline-block;
  width: 34%;
  min-width: 300px;
  background-color: white;
}

div#create-requestoffer-container form {
  display: table;
  margin-top: 10px;
  margin-bottom: 10px;
  border-spacing: 5px 5px;
}

div#create-requestoffer-container div {
  vertical-align: top;
  display: table-row;
}

div#create-requestoffer-container h4 {
  text-align: center;
}

div#create-requestoffer-container textarea {
  vertical-align: top;
  display: table-cell;
  width: 80%;
}

div#create-requestoffer-container label {
  display: table-cell;
  width: 30%;
}

div#create-requestoffer-container input[type="text"] {
  display: table-cell;
  width: 80%;
  background: 12px 11px no-repeat, linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
  border-radius: 3px;
  border: 1px solid grey;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  transition: all 0.2s linear;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #222222;
  position: relative;
  height: 36px;
  padding-left: 30px;
}
  div#create-requestoffer-container input[type="text"]:-webkit-input-placeholder {
    color: #999999;
  }
  
div#create-requestoffer-container input[type="text"]:-moz-placeholder {
    color: #999999;
  }

 div#create-requestoffer-container input[type="text"]:focus{
    box-shadow: 0 1px 0 #2392F3 inset, 0 -1px 0 #2392F3 inset, 1px 0 0 #2392F3 inset, -1px 0 0 #2392F3 inset, 0 0 4px rgba(35,146,243,0.5);
    outline: none;
  }
