* {
  margin: 0;
}

#my_background {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0;
}

body {
  background-color: #5f2d1d;
  line-height: 1.28em;
}

span.error {
  color: white;
  background-color: red;
}

div.container {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  height 1000px;
  padding: 40px;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.table {
  display: table;
  border-spacing: 8px;
}

.table div.row {
  display: table-row;
}

.table div.row label{
  display: table-cell;
}

.table div.row select {
  display: table-cell;
  max-width: 200px;
}

.table span {
  display: table-cell;
}

footer {
  position: fixed;
  bottom:0px;
  width:100%;
}

.button {
    margin: 10px;
    cursor: pointer;
    border: solid 1px #da7c0c;
    background: #478dad;
    color: white;
    height: 17px;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.button:active {
    position: relative;
    top: 1px;
}


/* handling situation where things get too narrow */
@media all and (max-width: 659px) {

  .table {
    display: block;
    width: 100%;
  }

  .table div.row {
    display: block;
    width: 100%;
  }

  .table div.row label{
    display: block;
    width: 100%;
  }

  .table div.row select {
    display: block;
    width: 100%;
  }

  .table div.row textarea {
    display: block;
    width: 100%;
  }

  .table span {
    display: block;
    width: 100%;
  }

}
