* {
  margin: 0;
}

body {
  background-color: #5f2d1d;
}

span.error {
  color: white;
  background-color: red;
}

div.container {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  height 1000px;
}

.table {
  display: table;
  border-spacing: 20px 20px;
}

div.container div.form-row {
  display: table-row;
}

div.container div.form-row label{
  display: table-cell;
}

div.container span {
  display: table-cell;
}

footer {
  position: fixed;
  bottom:0px;
  width:100%;
}
