* {
	font-size: 18px;
}

div.header-container {
	border: 1px solid black;
	margin-bottom: 4px;
}

div.header-container a {
	display: block;
	padding: 8px;
}

a.page-link {
	display: inline-block;
	font-size: 20px;
	padding: 14px;
	margin: 4px;
	border: black solid 1px;
}

div.others.requestoffer a {
	padding: 3px;
}

div.others.requestoffer span.handle-button-span {
	float: right;
}


div.others.requestoffer {
	border: 1px solid black;
	margin: 1px;
}

