div.header-container {
  border: 1px solid blue;
  background-color: grey;
}

div.header-container a, div.header-container form {
  padding-left:7px;
  padding-right:7px;
  margin: 10px;
  color: white;
  display: block;
}
