header {
  border: 1px solid blue;
  background-color: grey;
}

header form {
  margin-top:5px;
  margin-bottom:5px;
  padding-left:7px;
  padding-right:7px;
  color: white;
  display: inline-block;
}

header a {
  margin-top:5px;
  margin-bottom:5px;
  padding-left:7px;
  padding-right:7px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  display: inline-block;
}


